services:
  spark-master:
    image: apache/spark:${SPARK_VERSION}
    container_name: spark-master
    hostname: spark-master
    ports:
      - "8080:8080"
      - "4040:4040"
    volumes:
       - ./examples:/opt/spark/examples/src/main/python
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_LOCAL_HOSTNAME=127.0.0.1
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master

  spark-worker:
    image: apache/spark:${SPARK_VERSION}
    container_name: spark-worker
    user: root
    ports:
      - "8081:8081"
    volumes:
       - ./examples:/opt/spark/examples/src/main/python
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
