name: craftcms
services:
  web:
    build: 
      context: .
      args:
        CRAFT_VERSION: "${CRAFT_VERSION}"
      ports:
        - 8080:8080
    env_file: .env
    depends_on:
      redis:
        condition: service_healthy
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "nc" ,"-z", "127.0.0.1", "8080"]
      timeout: 20s
      retries: 10
    volumes:
      - .:/app

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: SuperPassword123456!
      MYSQL_DATABASE: dev_craftcms
      MYSQL_USER: craftcms
      MYSQL_PASSWORD: SecretPassword
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-pSuperPassword123456!"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:5-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
